.link{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;    
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.link1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.link2{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;

}
.qq{
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;
}
.link22{
    position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.link33{
    position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.link44{
    position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}
.link55{
    position: absolute;
width: 270px;
height: 16px;
left: 1116px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.none{
    position: absolute;
width: 270px;
height: 75px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}
.none1{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.none2{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.none3{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.link5{
    position: absolute;
    width: 366px;
    height: 42px;
    left: 617px;
    top: 969px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.link66{
    position: absolute;
    left: 0%;
    right: 69.17%;
    top: 23.83%;
    bottom: 0%;
    
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}    
.link77{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg)
}
.link88{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.link7{
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1543px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.link8{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 272px;
    top: 1885px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.p2{
    position: absolute;
    width: 104px;
    height: 19px;
    left: 585px;
    top: 1885px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.p3{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 872px;
    top: 1885px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.p4{
    position: absolute;
    width: 145px;
    height: 19px;
    left: 1165px;
    top: 1885px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    
}
.q1{
    position: absolute;
width: 130px;
height: 19px;
left: 272px;
top: 1914px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;

}
.q2{
    position: absolute;
width: 147px;
height: 19px;
left: 564px;
top: 1914px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;

}
.q3{
    position: absolute;
width: 76px;
height: 19px;
left: 899px;
top: 1914px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;

}
.q4{
    position: absolute;
width: 87px;
height: 19px;
left: 1194px;
top: 1914px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;

}
.link10{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.ghj1{
list-style: none;
}
.ghj2{
    list-style: none;
    }
    
    
.link11{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;   
    letter-spacing: 0.03em;
    color: #ffffff;
}
.ghj{
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}
.link12{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:rgb(255, 255, 255);
}
.link67{
    position: absolute;
    width: 152px;
    height: 30px;
    left: 724px;
    top: 440px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    
}
.link101{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 202px;
    top: 1595px;
    
    background: url(4853);
    border-radius: 0px;
}
.link102{
    position: absolute;
width: 270px;
height: 260px;
left: 502px;
top: 1595px;

background: url(5844);
border-radius: 0px;
}
.link103{
    position: absolute;
width: 270px;
height: 260px;
left: 802px;
top: 1595px;

background: url(16166);
border-radius: 0px;
}
.link104{
    position: absolute;
width: 270px;
height: 260px;
left: 1102px;
top: 1595px;

background: url(2968);
border-radius: 0px;
}
